{{define "contact"}}
<div id="contact" class="page transparent table" hidden>
  <h1>contact</h1>
  <div id="contact-table">
    <div>
      <div>Email</div>
      <div>
        <a href="mailto:contact@grhungary.com">contact@grhungary.com</a>
      </div>
    </div>
    <div>
      <div>Robert</div>
      <div>415 891 9661</div>
    </div>
    <div>
      <div>Gyöngyi</div>
      <div>415 231 9331</div>
    </div>
  </div>

  <img class="humotif" src="/static/images/humotif.png" />
</div>
{{end}}

