{{define "donate-button"}}
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="38XY6UKN22Z4E">
    <button type="submit" name="submit"
        alt="PayPal - The safer, easier way to pay online!">Donate</button>
  </form>
{{end}}

{{define "gift-registry"}}
<div id="gift-registry" class="page transparent" hidden>
  <h1>gift registry</h1>
  <p>The best gift you could give us is to come to our wedding. However,
  if this is not feasible, you can choose to contribute to our honeymoon
  fund through this website. We do not have a gift registry, since after
  living together for more than three years, we have everything we need
  in our household.</p>

  <p>We have been fortunate enough to travel to many beautiful places in
  the world, but we have never been on a beach vacation. We are very
  excited about spending a week (July 31 - August 7) on the beautiful Greek
  island of Kefalonia!</p>

  {{template "donate-button"}}

  <p>
    <a href="http://goo.gl/qA58H">
      <img id="greece-map" class="map"
          src="http://maps.googleapis.com/maps/api/staticmap?center=Patra, Greece&language=en&zoom=6&size=600x300&sensor=false&maptype=terrain&style=feature:all%7Celement:labels%7Cvisibility:off&style=feature:administrative.country%7Celement:labels%7Cvisibility:on&markers=size:mid%7Ccolor:red%7CCephalonia, Kefallonia, Greece">
    </a>
  </p>

  <p>Kefalonia is the most westerly island of
  Greece lies in the Ionian Sea, in the channel leading into the Gulf
  of Patras. With its circa 780 square kilometres, the island is the
  largest of the Eptanissos (the Seven Islands). Turquoise seas, lush
  green vegetation, wild and sheer mountain scenery and a fascinating
  variety of geological profiles have given Kefalonia a special
  atmosphere and beauty. Kefalonia is characterized by the creative
  forces of nature and three thousand years of cultural history.</p>

  <div id="honey-moon-expense-table" class="table">
    <div>
      <div>Two roundtrip airplane tickets from Budapest to Zakynthos</div>
      <div>$990</div>
    </div>
    <div>
      <div>Two round trip ferry tickets from Zakynthos to Killini</div>
      <div>$36</div>
    </div>
    <div>
      <div>Two round trip ferry tickets from Killini to Argostoli</div>
      <div>$50</div>
    </div>
    <div>
      <div>Car rental for seven days</div>
      <div>$320</div>
    </div>
    <div>
      <div>Accommodation at Dionysos Village Resort for seven nights</div>
      <div>$1600</div>
    </div>
    <div>
      <div>Food and drinks for seven days</div>
      <div>$550</div>
    </div>
    <div>
      <div>Sea Kayaking</div>
      <div>$160</div>
    </div>
    <div>
      <div>Guided hiking tour</div>
      <div>$160</div>
    </div>
    <div>
      <div>Horseback riding tour</div>
      <div>$200</div>
    </div>
    <div>
      <div>Ice-cream, cocktails, baklava, and the rest</div>
      <div>$200</div>
    </div>
    <div>
      <div>Total</div>
      <div>$4266</div>
    </div>
  </div>

  {{template "donate-button"}}

  <img class="humotif" src="/static/images/humotif.png" />
</div>
{{end}}

