{{define "main"}}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/bird-face-right.png" type="image/png"/>
    <title>grhungary</title>
    <link href="http://fonts.googleapis.com/css?family=Great+Vibes|Didact+Gothic&subset=latin,latin-ext"
        rel="stylesheet" type="text/css">
    <style type="text/css">
      {{template "main-css"}}
    </style>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38007964-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>

    {{template "site-header" .}}

    <div id="photo-gallery-light-box" class="transparent" hidden>
      <div id="light-box-close-button">x</div>
      <div id="light-box-left-button" class="light-box-nav-button">&lt;</div>
      <div id="light-box-right-button" class="light-box-nav-button">&gt;</div>
    </div>

    <div id="loading-overlay"><span id="loading-message">
      {{if .IsHu}}Betöltés{{else}}Loading{{end}}<span class="dots"><span>.</span><span>.</span><span>.</span></span></span>
    </div>

    <div id="main-content" class="transparent" hidden>

      <ul id="nav-bar">
        <li data-page-id="welcome">
          {{if .IsHu}}köszöntünk{{else}}welcome{{end}}
        </li>
        <li data-page-id="our-story">
          {{if .IsHu}}történetünk{{else}}our story{{end}}
        </li>
        <li data-page-id="photo-gallery">
          {{if .IsHu}}fényképalbum{{else}}photo gallery{{end}}
        </li>
        <li data-page-id="travel">{{if .IsHu}}szállás{{else}}travel{{end}}</li>
        <li data-page-id="rsvp">
          {{if .IsHu}}visszajelzés{{else}}respond{{end}}
        </li>
        <li data-page-id="gift-registry">
          {{if .IsHu}}nászajándék{{else}}gift registry{{end}}
        </li>
        <li data-page-id="contact">
          {{if .IsHu}}kapcsolat{{else}}contact{{end}}
        </li>
      </ul>

      <div id="page-container">
        {{template "welcome" .}}
        {{template "our-story" .}}
        {{template "photo-gallery" .}}
        {{template "travel" .}}
        {{template "rsvp" .}}
        {{template "gift-registry" .}}
        {{template "contact" .}}
      </div>

    </div>

    <script type="application/dart" src="client/main.dart"></script>
    <script src="client/packages/browser/dart.js"></script>

  </body>
</html>
{{end}}

