{{define "no-user-select"}}
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
{{end}}

{{define "ivory"}}#FFFFF0{{end}}
{{define "silver"}}#727272{{end}}
{{define "red"}}#93242B{{end}}

{{define "main-css"}}
body {
  background-color: {{template "ivory"}};
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14pt;
  font-weight: normal;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  color: {{template "silver"}};
  overflow-y: scroll;
}

a {
  color: {{template "red"}};
}

a:visited {
  color: {{template "red"}};
}

h1 {
  color: {{template "red"}};
}

h2 {
  margin: 0;
  font-weight: normal;
  padding-top: .15em;
}

button {
  font-family: "Didact Gothic", sans-serif;
  font-size: 12pt;
  color: {{template "ivory"}};
  background-color: {{template "red"}};
  padding: 4px 8px;
  margin: 0;
  border-radius: 2px;
  border: 0;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
  box-shadow: 0px 1px 3px rgba(0,0,0,.5);
  {{template "no-user-select"}}
}

button:active {
  color: white;
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.5) inset;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5) inset;
  box-shadow: 0px 1px 3px rgba(0,0,0,.5) inset;
}

button:disabled {
  color: #8D7B7B;
}

div.table {
  display: table;
  border-collapse: collapse;
}

div.table > div {
  display: table-row;
}

div.table > div > div {
  display: table-cell;
  padding-right: 1em;
}

div.table > div > div:last-child {
  padding-right: 0;
}

.map {
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  box-shadow: 0px 2px 2px rgba(0,0,0,.3);
}

#decoration-canvas {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  top: 0;
  left: 0;
}

#site-header {
  background-color: #ffffff;
  border-top: {{template "red"}} solid 2px;
  border-bottom: {{template "red"}} solid 2px;
  text-align: center;
  padding-top: 20px;
  margin-top: 24px;
}

#bird {
  width: 100px;
  position: absolute;
  right: 6em;
  top: 77px;
}

.humotif {
  display: block;
  margin-top: 1em;
}

#site-title {
  color: {{template "red"}};
  font-family: 'Great Vibes';
  font-size: 36pt;
  height: 48px;
  margin-top: 30px;
}

#loading-overlay {
  padding-top: 2em;
  text-align: center;
}

#main-content {
  padding: 2em;
  text-align: center;
  transition: opacity 800ms;
  -moz-transition: opacity 800ms; /* Firefox 4 */
  -webkit-transition: opacity 800ms; /* Safari and Chrome */
  -o-transition: opacity 800ms; /* Opera */
}

#nav-bar {
  display: inline-block;
  vertical-align: baseline;
  line-height: 2em;
  text-align: right;
  padding: 0;
  margin: 0;
}

#nav-bar li {
  white-space: nowrap;
  list-style-type: none;
  color: {{template "silver"}};
  cursor: pointer;
}

#nav-bar li:hover {
  color: black;
}

#nav-bar li.active {
  color: {{template "red"}};
}

.subheader {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 40px;
}

#page-container {
  vertical-align: baseline;
  width: 604px;
  padding: 0 40px;
  display: inline-block;
  text-align: left;
  height: 314px;
  position: relative;
}

.page {
  position: absolute;
  width: 604px;
  opacity: 1;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari and Chrome */
  -o-transition: opacity 500ms; /* Opera */
  padding-bottom: 24px;
}

.page section {
  margin-bottom: 1em;
}

#mansion-images {
  display: table;
  border-collapse: collapse;
}

#mansion-images > div {
  display: table-cell;
  padding-right: 3px;
}

#mansion-images > div:last-child {
  padding-right: 0;
}

#mansion-images > div > div {
  background-image: url('/static/images/welcome-sprite.jpg');
  height: 132px;
  width: 181px;
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
  box-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

#mansion-images > div:nth-child(2) > div {
  width: 236px;
}

#rsvp .table {
  width: 100%;
}

#rsvp .table > div > div {
  vertical-align: top;
  padding-bottom: 1em;
}

#rsvp .table > div > div:first-child {
  width: 300px;
}

#rsvp-more-info {
  overflow: hidden;
  height: 0;
}

.height-transition {
  transition: height 500ms;
  -moz-transition: height 500ms; /* Firefox 4 */
  -webkit-transition: height 500ms; /* Safari and Chrome */
  -o-transition: height 500ms; /* Opera */
}

#rsvp-info-element {
  width: 398px;
  padding: .4em .8em;
  color: {{template "ivory"}};
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari and Chrome */
  -o-transition: opacity 500ms; /* Opera */
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  margin-top: 1em;
}

#rsvp-info-element.info {
  background-color: #77965F;
}

#rsvp-info-element.error {
  background-color: #404040;
}

#rsvp-info-element.error a {
  color: #CF6971;
}

.cancel-button {
  background-color: {{template "silver"}};
}

input[type="text"] {
  border: {{template "red"}} 2px solid;
  font-family: "Didact Gothic", sans-serif;
  font-size: 14pt;
  padding: 2px 8px;
  width: 260px;
}

textarea {
  border: {{template "red"}} 2px solid;
  font-family: "Didact Gothic", sans-serif;
  font-size: 12pt;
  width: 272px;
  height: 80px;
}

#contact td:first-child {
  padding-right: 12px;
}

#photo-gallery-light-box {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari and Chrome */
  -o-transition: opacity 500ms; /* Opera */
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  overflow: hidden;
}

#photo-gallery img {
  cursor: pointer;
  margin-right: 3px;
}

#gallery-thumb-container div {
  vertical-align: top;
}

#gallery-thumb-container > div {
  padding-bottom: 4px;
}

#gallery-thumb-container > div:last-child {
  padding-bottom 0;
}

.gallery-thumb {
  display: table-cell;
  padding-right: 4px;
}

.gallery-thumb:last-child  {
  padding-right: 0;
}

.gallery-thumb > div {
  background-image: url('/static/images/photo-gallery-sprite.jpg');
  cursor: pointer;
}

.gallery-image {
  position: absolute;
  transition: left 500ms;
  -moz-transition: left 500ms; /* Firefox 4 */
  -webkit-transition: left 500ms; /* Safari and Chrome */
  -o-transition: left 500ms; /* Opera */
  {{template "no-user-select"}}
}

.gallery-image-img {
  position: absolute;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari and Chrome */
  -o-transition: opacity 500ms; /* Opera */
  background-color: rgba(0,0,0,0.8);
}

.gallery-image-loading-message {
  position: absolute;
  color: {{template "ivory"}};
}

#light-box-close-button, .light-box-nav-button {
  font-size: 30pt;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  {{template "no-user-select"}}
}

#light-box-close-button {
  padding: .3em .5em .6em;
  right: .2em;
  top: .2em;
}

.light-box-nav-button {
  padding: 1em .5em 1.2em;
}

#light-box-close-button:hover {
  color: {{template "ivory"}};
}

.light-box-nav-button:hover {
  color: {{template "ivory"}};
}

#light-box-left-button {
  left: .2em;
}

#light-box-right-button {
  right: .2em;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}

.postcard {
  display: inline-block;
  width: 240px;
  vertical-align: top;
  margin-top: 18px;
  margin-right: 18px;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  box-shadow: 0px 2px 2px rgba(0,0,0,.3);
}

.postcard img {
}

.postcard > div {
  width: 240px;
  height: 191px;
  background-image: url('/static/images/travel-sprite.jpg');
}

.postcard p {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

#honey-moon-expense-table {
  margin: 1.2em auto 2em auto;
  width: 90%;
  border-spacing: 0;
  line-height: 150%;
}

#honey-moon-expense-table > div > div:last-child {
  text-align: right;
}

#honey-moon-expense-table > div:last-child > div {
  border-top: 1px solid {{template "silver"}};
  font-weight: bold;
}

#honey-moon-expense-table > div:nth-last-child(2) > div {
  padding-bottom: 1em;
}

#contact-table {
  display: table;
}

#contact-table div {
  display: table-row;
}

#contact-table div div {
  display: table-cell;
  line-height: 2em;
  padding-right: 1em;
}

#contact-table div div:last-child {
  padding-right: 0;
}

@-webkit-keyframes loading-dots {
  0% { top: 0; }
  55% { top: 0; }
  60% { top: -10px; }
  80% { top: 3px; }
  90% { top: -2px; }
  95% { top: 1px; }
  100% { top: 0; }
}

.dots > span {
  -webkit-animation: loading-dots 1800ms infinite;
  padding: 1px;
  position: relative;
}

.dots > span:nth-child(2) {
  -webkit-animation-delay: 100ms;
}

.dots > span:nth-child(3) {
  -webkit-animation-delay: 300ms;
}
{{end}}
