{{define "photo-gallery"}}
<div id="photo-gallery" class="page transparent" hidden>
  <h1>{{if .IsHu}}fényképalbum{{else}}photo gallery{{end}}</h1>
  <div id="gallery-thumb-container">
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 0; width: 281px; height: 217px"
            data-gallery-id="00"></div>
      </div>
      <div style="display: table-cell">
        <div style="padding-bottom: 4px">
          <div class="gallery-thumb">
            <div style="background-position: -285px 0; width: 157px; height: 118px"
                data-gallery-id="01"></div>
          </div>
          <div class="gallery-thumb">
            <div style="background-position: -446px 0; width: 158px; height: 118px"
                data-gallery-id="02"></div>
          </div>
        </div>
        <div>
          <div class="gallery-thumb">
            <div style="background-position: -285px -122px; width: 75px; height: 95px"
                data-gallery-id="03"></div>
          </div>
          <div class="gallery-thumb">
            <div style="background-position: -364px -122px; width: 118px; height: 95px"
                data-gallery-id="04"></div>
          </div>
          <div class="gallery-thumb">
            <div style="background-position: -486px -122px; width: 118px; height: 95px"
                data-gallery-id="05"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -221px; width: 166px; height: 124px"
            data-gallery-id="06"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -170px -221px; width: 94px; height: 124px"
            data-gallery-id="07"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -268px -221px; width: 167px; height: 124px"
            data-gallery-id="08"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -439px -221px; width: 165px; height: 124px"
            data-gallery-id="09"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -349px; width: 198px; height: 149px"
            data-gallery-id="10"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -202px -349px; width: 199px; height: 149px"
            data-gallery-id="11"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -405px -349px; width: 199px; height: 149px"
            data-gallery-id="12"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -502px; width: 174px; height: 131px"
            data-gallery-id="13"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -178px -502px; width: 146px; height: 131px"
            data-gallery-id="14"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -328px -502px; width: 98px; height: 131px"
            data-gallery-id="15"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -430px -502px; width: 174px; height: 131px"
            data-gallery-id="16"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -637px; width: 206px; height: 154px"
            data-gallery-id="17"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -210px -637px; width: 185px; height: 154px"
            data-gallery-id="18"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -399px -637px; width: 205px; height: 154px"
            data-gallery-id="19"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -795px; width: 198px; height: 149px"
            data-gallery-id="20"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -202px -795px; width: 199px; height: 149px"
            data-gallery-id="21"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -405px -795px; width: 199px; height: 149px"
            data-gallery-id="22"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -948px; width: 178px; height: 134px"
            data-gallery-id="23"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -182px -948px; width: 238px; height: 134px"
            data-gallery-id="24"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -424px -948px; width: 180px; height: 134px"
            data-gallery-id="25"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -1086px; width: 198px; height: 149px"
            data-gallery-id="26"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -202px -1086px; width: 199px; height: 149px"
            data-gallery-id="27"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -405px -1086px; width: 199px; height: 149px"
            data-gallery-id="28"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -1239px; width: 190px; height: 142px"
            data-gallery-id="29"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -194px -1239px; width: 106px; height: 142px"
            data-gallery-id="30"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -304px -1239px; width: 106px; height: 142px"
            data-gallery-id="31"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -414px -1239px; width: 190px; height: 142px"
            data-gallery-id="32"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -1385px; width: 199px; height: 149px"
            data-gallery-id="33"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -203px -1385px; width: 199px; height: 149px"
            data-gallery-id="34"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -406px -1385px; width: 198px; height: 149px"
            data-gallery-id="35"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -1538px; width: 198px; height: 149px"
            data-gallery-id="36"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -202px -1538px; width: 199px; height: 149px"
            data-gallery-id="37"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -405px -1538px; width: 199px; height: 149px"
            data-gallery-id="38"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -1691px; width: 204px; height: 153px"
            data-gallery-id="39"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -208px -1691px; width: 176px; height: 153px"
            data-gallery-id="40"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -388px -1691px; width: 110px; height: 153px"
            data-gallery-id="41"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -502px -1691px; width: 102px; height: 153px"
            data-gallery-id="42"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -1848px; width: 199px; height: 149px"
            data-gallery-id="43"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -203px -1848px; width: 199px; height: 149px"
            data-gallery-id="44"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -406px -1848px; width: 198px; height: 149px"
            data-gallery-id="45"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -2001px; width: 107px; height: 149px"
            data-gallery-id="46"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -111px -2001px; width: 198px; height: 149px"
            data-gallery-id="47"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -313px -2001px; width: 198px; height: 149px"
            data-gallery-id="48"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -515px -2001px; width: 89px; height: 149px"
            data-gallery-id="49"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -2154px; width: 171px; height: 129px"
            data-gallery-id="50"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -175px -2154px; width: 78px; height: 129px"
            data-gallery-id="51"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -257px -2154px; width: 171px; height: 129px"
            data-gallery-id="52"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -432px -2154px; width: 172px; height: 129px"
            data-gallery-id="53"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -2287px; width: 166px; height: 124px"
            data-gallery-id="54"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -170px -2287px; width: 94px; height: 124px"
            data-gallery-id="55"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -268px -2287px; width: 166px; height: 124px"
            data-gallery-id="56"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -438px -2287px; width: 166px; height: 124px"
            data-gallery-id="57"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -2415px; width: 248px; height: 167px"
            data-gallery-id="58"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -252px -2415px; width: 125px; height: 167px"
            data-gallery-id="59"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -381px -2415px; width: 223px; height: 167px"
            data-gallery-id="60"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -2586px; width: 92px; height: 124px"
            data-gallery-id="61"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -96px -2586px; width: 166px; height: 124px"
            data-gallery-id="62"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -266px -2586px; width: 168px; height: 124px"
            data-gallery-id="63"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -438px -2586px; width: 166px; height: 124px"
            data-gallery-id="64"></div>
      </div>
    </div>
    <div>
      <div class="gallery-thumb">
        <div style="background-position: 0 -2714px; width: 173px; height: 129px"
            data-gallery-id="65"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -177px -2714px; width: 129px; height: 129px"
            data-gallery-id="66"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -310px -2714px; width: 97px; height: 129px"
            data-gallery-id="67"></div>
      </div>
      <div class="gallery-thumb">
        <div style="background-position: -411px -2714px; width: 193px; height: 129px"
            data-gallery-id="68"></div>
      </div>
    </div>
  </div>

  <img class="humotif" src="/static/images/humotif.png" />
</div>
{{end}}

