{{define "rsvp"}}
<div id="rsvp" class="page transparent" hidden>
  <h1>{{if .IsHu}}visszajelzés{{else}}respond{{end}}</h1>
  <div class="table">
    <div>
      <div>
        {{if .IsHu}}Email Cím{{else}}Contact Email{{end}}<br/>
        <span style="font-size: 10pt">
          ({{if .IsHu}}vagy telefonszám{{else}}or phone number{{end}})
        </span>
      </div>
      <div>
        <input id="rsvp-id" type="text"
          placeholder="{{if .IsHu}}xy@gmail.com{{else}}myemail@example.com{{end}}"/>
      </div>
    </div>
  </div>
  <div id="rsvp-more-info" class="height-transition" hidden>
    <div id="rsvp-more-info-height-wrapper">
      <div class="table">
        <div>
          <div>
            {{if .IsHu}}Résztvevők Neve{{else}}Names of Party Members{{end}}<br/>
            <span style="font-size: 10pt">
              ({{if .IsHu}}magadat beleszámítva{{else}}including yourself{{end}})
            </span>
          </div>
          <div>
            <div id="rsvp-names">
              <input class="rsvp-name" type="text"
                  placeholder="{{if .IsHu}}pl. Gózon Gyöngyi{{else}}ex. Robert Toscano{{end}}"/>
            </div>
            <button id="rsvp-add-name-button">
              {{if .IsHu}}
              További Résztvevők Hozzáadása
              {{else}}
              Add Another Member
              {{end}}
            </button>
          </div>
        </div>
        <div>
          <div>{{if .IsHu}}Étrendi Megszorítás{{else}}Dietary Restrictions{{end}}</div>
          <div><textarea id="rsvp-dietary-restrictions"></textarea></div>
        </div>
        <div>
          <div>
            {{if .IsHu}}
            A Savoyai Kastélyszállóban töltöd majd az éjszakát?
            {{else}}
            Will you be staying at the mansion hotel overnight?
            {{end}}
          </div>
          <div><input type="checkbox" id="rsvp-is-staying-overnight"/></div>
        </div>
        <div>
          <div>
            {{if .IsHu}}
            Lenne kedved részt venni a 28-i városnéző kiránduláson?
            {{else}}
            Are you interested in a daytrip in Hungary on Sunday, the 28th?
            {{end}}
          </div>
          <div>
            <select id="rsvp-interested-in-sightseeing">
              <option selected data-value="No">
                {{if .IsHu}}Nem{{else}}No{{end}}
              </option>
              <option data-value="Maybe">
                {{if .IsHu}}Talán{{else}}Maybe{{end}}
              </option>
              <option data-value="Yes">
                {{if .IsHu}}Igen{{else}}Yes{{end}}
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div>
    <button id="accept-button">
      {{if .IsHu}}Boldogan Elfogadom{{else}}Happily Accept{{end}}
    </button>
    <button
        id="reject-button"
        data-label-in-progress="{{if .IsHu}}Küldés{{else}}Declining...{{end}}"
        data-label="{{if .IsHu}}Sajnálattal Visszautasítom{{else}}Regretfully Decline{{end}}">
      {{if .IsHu}}Sajnálattal Visszautasítom{{else}}Regretfully Decline{{end}}
    </button>
    <button
        hidden
        id="rsvp-send-button"
        data-label-in-progress="{{if .IsHu}}Küldés{{else}}Responding...{{end}}"
        data-label="{{if .IsHu}}Kész{{else}}Respond{{end}}">
      {{if .IsHu}}Kész{{else}}Respond{{end}}
    </button>
    <button class="cancel-button" hidden id="rsvp-cancel-button">
      {{if .IsHu}}Mégsem{{else}}Cancel{{end}}
    </button>
  </div>
  <div
      id="rsvp-info-element"
      class="transparent"
      hidden
      data-success-message="{{if .IsHu}}Visszajelzésedet megkaptuk és a megadott email címedre egy megerősítést küldtünk.{{else}}Your response has been submitted and a confirmation has been sent to your email address.{{end}}"
      data-fail-message="{{if .IsHu}}Sajnos visszajelzésedet nem sikerült elküldeni. Kérünk értesíts minket <a href=&quot;mailto:contact@grhungary.com&quot;>email-ben</a> a problémáról.{{else}}There was a problem submitting your response. Please <a href=&quot;mailto:contact@grhungary.com&quot;>email us</a> for further assistance.{{end}}"
      data-success-reject-message="{{if .IsHu}}Nagyon sajnáljuk, hogy nem tudsz eljönni az esküvőnkre. Email-ben értesíteni fogunk, amint feltöltöttük a képeket és a videókat.{{else}}We're sorry you can't make it. We'll keep you updated when we add new photos and videos of the wedding.{{end}}">
  </div>

  <img class="humotif" src="/static/images/humotif.png" />
</div>
{{end}}

