{{define "travel"}}
<div id="travel" class="page transparent" hidden>
  <h1>travel</h1>
  <p>
    <a href="http://goo.gl/ijCRJ">
      <img class="map" id="mansion-map" src="http://maps.googleapis.com/maps/api/staticmap?center=Savoyai Kastély Szálló, Ráckeve, Kossuth Lajos Street, Hungary&language=en&zoom=5&size=600x300&sensor=false&maptype=terrain&markers=size:mid%7Ccolor:red%7CSavoyai Kastély Szálló, Ráckeve, Kossuth Lajos Street, Hungary">
    </a>
  </p>

  <section>
  <h2>airfare</h2>
  <p>Plane ticket prices and travel lengths from the U.S. west coast to
  Budapest, Hungary depend on the number of stopovers you have. For the
  summer season, air travel costs average around $1300 round trip and
  the duration of the flight around 16 hours. You can use any travel
  websites to book your flights. Here are a few examples:
  <ul>
    <li><a href="http://goo.gl/B5H5B">Bing Travel</a></li>
    <li><a href="http://goo.gl/QmQyc">Kayak</a></li>
    <li><a href="http://goo.gl/LwkgJ">Orbitz</a></li>
    <li><a href="http://goo.gl/DmVSH">eDreams</a></li>
  </ul>
  <p>Please plan on arriving to Hungary no later than Friday, in case
  there are any delays in your flight schedule. If you would like to
  allow yourself enough time to adjust to the time difference and
  perhaps visit some sightseeing destinations, you might want to arrive
  a few days earlier.
  </section>

  <section>
  <h2>accommodation</h2>
  <p>Since the wedding ceremony and the following reception are going to
  be at the <a href="http://goo.gl/mPo0c">Savoyai Mansion Hotel</a>, we
  recommend that you book your rooms there. We have asked the hotel to
  set aside 19 rooms for our guests to reserve for July 26-28. The following
  rooms have been set aside:</p>
  <ul>
    <li>4 single beds</li>
    <li>9 double beds</li>
    <li>2 triple beds</li>
    <li>4 four beds</li>
  </ul>
  <p>Please mention in your reservation that your stay is for the
  Gózon-Toscano wedding. Prices range from $40 per night to $84. If
  you would like to stay at the hotel longer or shorter than the above
  mentioned three nights, you can do that as well. Additional hotels in
  Ráckeve are:</p>
  <ul>
    <li><a href="http://goo.gl/rbncW">Hotel Termálkristály Aqualand</a></li>
    <li><a href="http://goo.gl/MgOxp">Kék Duna Wellness Hotel</a></li>
  </ul>
  </section>

  <section>
  <h2>directions to venue</h2>
  <p>If you plan to go straight to the location of the wedding from
  Ferenc Liszt International Airport, we will arrange transportation
  for you. If you arrive to Hungary a few days earlier and aim to visit
  Budapest, you can catch a bus or a train at the airport that will take
  you to the city centre. More information about transportation to and
  from the airport can be found <a href="http://goo.gl/9rT5S">here</a>.
  </p>
  </section>

  <section>
  <h2>attractions in budapest</h2>
  <div class="postcard">
    <div style="background-position: 0 0"></div>
    <p>
      <a href="http://goo.gl/CRzYy">Gellért Hill</a>
      and
      <a href="http://goo.gl/vtQEy">Citadel</a>
    </p>
  </div>
  <div class="postcard">
    <div style="background-position: -240px 0"></div>
    <p><a href="http://goo.gl/Jpmvn">Buda Castle</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: 0 -191px"></div>
    <p><a href="http://goo.gl/2K31g">Fisherman’s Bastion</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: -240px -191px"></div>
    <p><a href="http://goo.gl/fgbkb">Matthias Church</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: 0 -382px"></div>
    <p><a href="http://goo.gl/RVDKJ">The House of Parliament</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: -240px -382px"></div>
    <p><a href="http://goo.gl/d4HS9">Margaret Island</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: 0 -573px"></div>
    <p><a href="http://goo.gl/INYeV">Andrássy Avenue</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: -240px -573px"></div>
    <p><a href="http://goo.gl/051jz">House of Terror</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: 0 -764px"></div>
    <p><a href="http://goo.gl/mkphZ">State Opera House</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: -240px -764px"></div>
    <p><a href="http://goo.gl/A5ZEj">Heroes’ Square</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: 0 -955px"></div>
    <p><a href="http://goo.gl/JpnjD">City Park</a></p>
  </div>
  <div class="postcard">
    <div style="background-position: -240px -955px"></div>
    <p><a href="http://goo.gl/SYZ6V">Széchenyi Bath and Spa</a></p>
  </div>
  </section>

  <section>
  <h2>currency</h2>
  <p>Even though Hungary is a member of the European Union, the “forint”
  remains the official currency in Hungary. As of Jan 25 2013, the
  exchange rate is:</p>

  <p style="text-align: center"><b>1</b> USD = <b>220.95</b> Forint</p>
  </section>

  <section>
  <h2>weather</h2>
  <p>Summers in Hungary are very hot and dry and daily temperatures in
  July often reach above 86 Fahrenheit. Nighttime temperatures are
  cooler, though still warm. Sandals and shorts are comfortable attire
  both day and night.</p>
  </section>

  <section>
  <h2>traveling to other european countries</h2>
  <p>By plane:</p>
  <ul>
    <li><a href="http://goo.gl/Ys3tt">Wizzair</a></li>
    <li><a href="http://goo.gl/mPhQI">Rynair</a></li>
    <li><a href="http://goo.gl/bhT1z">bing travel</a></li>
    <li><a href="http://goo.gl/dRTTA">eDreams</a></li>
  </ul>
  <p>By train:<p/>
  <ul>
  <li><a href="http://goo.gl/qHEJ0">Eurostar</a></li>
  </ul>
  </section>

  <img class="humotif" src="/static/images/humotif.png" />
</div>
{{end}}

