{{define "welcome"}}
<div id="welcome" class="page transparent" hidden>
  <h1>{{if .IsHu}}köszöntünk{{else}}welcome{{end}}</h1>

  {{if .IsHu}}
  <p>Köszöntünk esküvői weboldalunkon! Nagy örömünkre szolgál, hogy megoszthatjuk
  Veletek házasságunk ünneplését. Itt minden információt megtalálhattok az
  esküvőnkkel kapcsolatban. Azok, akik pedig sajnos nem lesznek jelen, itt nyomon
  tudják követni a lakodalommal kapcsolatos történéseket. A következő oldalakon
  azt is megtudhatjátok, hogy hogyan ismerkedtünk meg, valamint a nászúttal
  kapcsolatos terveinkről is beszámolunk.</p>

  <p>Miután 2010. március 1-jén házasságot kötöttünk egy hangulatos kis ceremónia
  körében a San Francisco-i Polgármesteri Hivatalban, most elérkeztünk oda, hogy
  mindekettőnk családjának és barátainak jelenlétében az álomesküvőnket is
  megünnepeljük. Helyszínül a gyönyörű környezetben lévő ráckevei Savoyai
  Kastélyszállót választottuk.</p>
  {{else}}
  <p>Welcome to our wedding website! We are delighted to be able to
  share the celebration of our marriage with you. For all of you who
  will be attending, all of the information you could ever want to know
  about us and our wedding will be available for you here. For those of
  you who will not be able to join us, we thought this would be a great
  way for us to share all of our experiences with you. In the following
  pages, you will find details about how we met, as well as information
  about the wedding and the reception.</p>

  <p>After three wonderful years of having been married in a small
  ceremony at the San Francisco City Hall on March 1st, 2010, we are
  looking forward to our dream wedding with our families and friends in
  Ráckeve, Hungary. We have chosen to get married in the Savoyai Mansion
  Hotel, a beautiful landmark just six miles away from Gyöngyi’s
  hometown. It's absolutely beautiful there and we know you will love
  it.</p>
  {{end}}

  <div id="mansion-images">
    <div><div style="background-position: 0 0"></div></div>
    <div><div style="background-position: -181px 0"></div></div>
    <div><div style="background-position: -417px 0"></div></div>
  </div>

  {{if .IsHu}}
  <p>Mivel a nagy távolság miatt családjaink és barátaink nehezen találnak
  lehetőséget a találkozásra, úgy gondoljuk, hogy az esküvőnk tökéletes alkalmat
  biztosít arra, hogy megismerjétek egymást.</p>

  <p>Izgatottan várjuk, hogy néhány hónap múlva mindnyájatokkal együtt ünnepeljük
  elkötelezettségünket. Köszönjük minden barátunknak és családtagunknak, hogy az
  évek során támogatásukkal és szeretetükkel elhalmoztak minket.</p>

  <p>Szeretettel:<br/>Gyöngyi és Robert</p>
  {{else}}
  <p>Our goal is to create an experience that allows you to discover
  each others’ cultures through excellent food, drinks, and fun times.
  We think that the celebration of our union provides the perfect
  opportunity for our families and friends to meet and get to know one
  another. We cannot wait to see all of you together.</p>

  <p>For those of you who will be coming in from out of town, we have
  provided you with many wonderful suggestions of places to stay.
  Hopefully some of you will decide to make a vacation out of this trip
  to Hungary and extend your stay to a full week or more. If you have
  the option, we encourage you to visit some of the nearby countries, as
  many of Europe’s amazing cities are only a short train or plane ride
  away from Budapest.</p>

  <p>We are looking forward to seeing everyone in just a few months.
  Thank you to all of our friends and family for supporting us and
  loving us over the years.</p>

  <p>Love,<br/>Gyöngyi and Robert</p>
  {{end}}

  <img class="humotif" src="/static/images/humotif.png" />
</div>
{{end}}

