
body {
  background-color: #FFFFF0;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14pt;
  font-weight: normal;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  color: #727272;
  overflow-y: scroll;
}

#decoration-canvas {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  top: 0;
  left: 0;
}

#nav-bar li {
  white-space: nowrap;
  list-style-type: none;
  color: #727272;
  cursor: pointer;
}

#nav-bar li:hover {
  color: black;
}

#nav-bar li.active {
  color: #93242B;
}

#site-header {
  background-color: #ffffff;
  border-top: #93242B solid 2px;
  border-bottom: #93242B solid 2px;
  text-align: center;
  padding-top: 20px;
  margin-top: 24px;
}

#main-content {
  display: table;
  margin: auto;
  margin-top: 40px;
  transition: opacity 800ms;
  -moz-transition: opacity 800ms; /* Firefox 4 */
  -webkit-transition: opacity 800ms; /* Safari and Chrome */
  -o-transition: opacity 800ms; /* Opera */
}

#nav-bar {
  padding-right: 40px;
}

#nav-bar ul {
  margin-top: 69px;
  vertical-align: top;
  line-height: 28px;
  text-align: right;
}

.site-title {
  color: #93242B;
  font-family: 'Great Vibes';
  font-size: 36pt;
  height: 48px;
  margin-top: 30px;
}

h1 {
  color: #93242B;
}

.subheader {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 40px;
}

#page-container {
  vertical-align: top;
  width: 600px;
  padding-right: 40px;
}

.page {
  position: absolute;
  width: 600px;
  opacity: 1;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari and Chrome */
  -o-transition: opacity 500ms; /* Opera */
  padding-bottom: 24px;
}

.rsvp-field-name {
  width: 200px;
  padding-bottom: 20px;
  vertical-align: top;
  padding-right: 20px;
}

.rsvp-field-value {
  vertical-align: top;
  padding-bottom: 20px;
}

#rsvp-info-element {
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 8px;
  opacity: 0;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari and Chrome */
  -o-transition: opacity 500ms; /* Opera */
}

#rsvp-info-element.shown {
  opacity: 1;
}

#rsvp-info-element.info {
  background-color: lightGreen;
}

#rsvp-info-element.error {
  background-color: pink;
}

#rsvp-add-name-button {
  margin-top: 8px;
}

input[type="text"] {
  border: #93242B 2px solid;
  font-family: "Didact Gothic", sans-serif;
  font-size: 14pt;
  padding: 2px 8px;
  width: 188px;
}

textarea {
  border: #93242B 2px solid;
  font-family: "Didact Gothic", sans-serif;
  font-size: 12pt;
  width: 200px;
  height: 80px;
}

button {
  font-family: "Didact Gothic", sans-serif;
  font-size: 12pt;
  color: ivory;
  background-color: #93242B;
  padding: 4px 8px;
  margin: 0;
  border-radius: 2px;
  border: 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:active {
  color: white;
  box-shadow: 0px 1px 3px rgba(0,0,0,.5) inset;
}

button:disabled {
  color: #8D7B7B;
}

#contact-page td:first-child {
  padding-right: 12px;
}

#photo-gallery-light-box {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari and Chrome */
  -o-transition: opacity 500ms; /* Opera */
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  overflow: hidden;
}

#photo-gallery-page img {
  cursor: pointer;
}

#light-box-close-button {
  font-size: 30pt;
  position:absolute;
  right: 0;
  top: 0;
  padding: 12px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#light-box-close-button:hover {
  color: ivory;
}

.light-box-image {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  transition: left 500ms;
  -moz-transition: left 500ms; /* Firefox 4 */
  -webkit-transition: left 500ms; /* Safari and Chrome */
  -o-transition: left 500ms; /* Opera */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.light-box-nav-button {
  position: absolute;
  padding: 12px;
  z-index: 3;
  font-size: 30pt;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.light-box-nav-button:hover {
  color: ivory;
}

#light-box-left-button {
  left: 10px;
}

#light-box-right-button {
  right: 10px;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}

#loading-overlay {
  padding-top: 40px;
  text-align: center;
}

.postcard {
  display: inline-block;
  width: 240px;
  vertical-align: top;
  margin-top: 18px;
  margin-right: 18px;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
}

.postcard img {
  width: 240px;
  display: block;
}

.postcard p {
  margin-top: 20px;
  margin-bottom: 0;
}

#honey-moon-expense-table {
  margin-bottom: 1em;
  width: 100%;
  border-spacing: 0;
}

#honey-moon-expense-table td {
  padding-right: 20px;
}

#honey-moon-expense-table td:last-child {
  padding-right: 0;
  text-align: right;
}

#honey-moon-expense-table tr:last-child td {
  border-top: 1px solid #727272;
  font-weight: bold;
}